{% extends 'base.html' %}
{% block content %}

{% if ticker %}
	{{ ticker }}
{% endif %}

{% if api %}
	{% if api == "Error..."%}
		There was a problem with your ticker Symbol,
		Please try again.... 
	{% else %}

	<br>

	<h1>{{ api.companyName}}</h1>
<table class="table table-striped table table-bordered table table-hover">
  <tbody>
  	<tr>
		<td><b>Price:</b> ${{ api.latestPrice}}</td>
		<td><b>Previous Close:</b> {{ api.previousClose}}</td>
		<td><b>Market Cap:</b> {{ api.marketCap}}</td>
		<td><b>YTD Change:</b> {{ api.ytdChange}}</td>
		<td><b>52 Wk High</b>: {{ api.week52High}}</td>
		<td><b>52 Wk Low:</b> {{ api.week52Low}}</td>
	</tr>
  </tbody>
</table>

	


	{% endif %}
{% endif %}
<br><br>
<h1 style="color:blue;"><center>Welcome to AppTech Stock</h3><br><br>
<h4><center>Enter the Stock Ticker Symbol Above</h4>


{% endblock %}
